header
{
	position: relative;
	z-index:100;
}
section
{
    position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display: none;
	opacity:0;
}
.navbar-nav>li>a {
    color: white;
    list-style: none;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: rgba(39, 197, 190, 0.27);
}
#btn-history{
    margin-top: 29px;
  
}
.visible
{
	opacity:1;
	display: table; 
    background-image: url(../img/petalos.gif);
}
.content
{
	background:rgba(255, 0, 212, 0.15);
	display:table-cell;
	vertical-align: middle;
}
.letraM:hover{
    padding-left: 20px;
    font-size: 40px;
    font-family: cursive;
}
.container-fluid {

    background-color: crimson;
}
h1{
    font-family: pacifico;
}
#jugador1{
    color: black;
    border-radius: 15px;
    padding-right: 14px;
    color: black;
    padding-left: 20px;
    font-size: 23px;
    font-family: cursive;
}

.dale{
    color: black;
}
#saludo h1
{
	margin-bottom:120px;
}
h3{
    color:white;
}
h4{
    color:darkblue;
}
#final{
    width: 50px;
    height: 10px;
}
#cuerpo{
    width: 90%;
    height: 90%;
	position: absolute;
    left:55%;
    top: 60%;
    transform: translate(-60%, -60%);
    -webkit-transform: translate(-60%, -60%);
}
.letra2{
    color: #f0ff0e;
}
#tablero{
    margin: o auto;
    text-align: center;
    margin-top: 30px;
}
#turno{
    float:right;
    margin-top: 35px;
    border-radius:5px;
    background-color:rgb(227, 23, 55);
    width:280px;
    height: 190px; 
    box-shadow:2px 7px 55px 23px rgba(6, 2, 3, 0.55);
}
#tablero{
    float:right;
    border-radius: 5px;
    background-repeat: no-repeat;
    width:270px;
    height: 280px;
    box-shadow: 5% #ccc;
    background-color: darkgray;
    box-shadow:2px 7px 55px 23px rgba(6, 2, 3, 0.55);
}


td.uno{
    border: 1px solid #333;
    text-align:center;
    font-size:30px;
    font-weight:bold;
    width:100px;
    height:100px;
    background-color: #cbdc1a;
}
td.dos{
    border: 1px solid #333;
    text-align:center;
    font-size:30px;
    font-weight:bold;
    width:100px;
    height:100px;
    background-color: lightgray;
}
td.tres{
    border: 1px solid #333;
    text-align:center;
    font-size:40px;
    font-weight:bold;
    width:100px;
    height:100px;
    background-color: rgba(23, 227, 25, 0.83);
}
td.cuatro{
    border: 1px solid #333;
    text-align:center;
    font-size:40px;
    font-weight:bold;
    width:100px;
    height:100px;
    background-color: lightgray;
}
td.cinco{
    border: 1px solid #333;
    text-align:center;
    font-size:40px;
    font-weight:bold;
    width:100px;
    height:100px;
    background-color: rgba(23, 227, 25, 0.83);
}
td.seis{
    border: 1px solid #333;
    text-align:center;
    font-size:40px;
    font-weight:bold;
    width:100px;
    height:100px;
    background-color: lightgray;
}

td.siete{
    border: 1px solid #333;
    text-align:center;
    font-size:40px;
    font-weight:bold;
    width:100px;
    height:100px;
    background-color: rgba(23, 227, 25, 0.83);
}
td.ocho{
    border: 1px solid #333;
    text-align:center;
    font-size:40px;
    font-weight:bold;
    width:100px;
    height:100px;
    background-color: lightgray;
}
td.nueve{
    border: 1px solid #333;
    text-align:center;
    font-size:40px;
    font-weight:bold;
    width:100px;
    height:100px;
    background-color: #cbdc1a;
}


